<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <add key="EmailUserName" value="hikerburner@outlook.com"></add>
    <add key="EmailPassword" value="Summer2016"></add>
    <add key="EmailSendTo" value="hiker360@pm.me"></add>


  </appSettings>
  
</configuration>